.child-box {
    /* border-color: blue;
    border-style: solid;
    border-width: 1px; */
    border: black solid 1px;
    width: 200px;
    height:200px;
    text-align: center;
    border-radius: 10px;
}

.parent-box {
    display:flex;
    background-color: aqua;
    padding: 40px 20px 20px 20px;
}

.parent-box {
    display: flex;
    flex-direction: column;


}

.parent-box {
    display: flex;
    flex-direction: column-reverse;

}
.parent-box {
    display: flex;
    flex-direction: row;
}
.parent-box {
    display: flex;
    flex-direction: row-reverse;
}
.parent-box {
    display: flex ;
    flex-wrap:nowrap;

}
.parent-box {
    display: flex;
    flex-wrap: wrap-reverse;
}
.parent-box {
    display: flex;
    flex-wrap: row wrap;

}
.parent-box {
    display: flex;
    align-items:center ;
    height: 200px;
}
.parent-box {
    display: flex;
    align-items: flex-start;
    height: 200px;
}
.parent-box {
    display: flex;
    align-items: flex-end;
    height: 200px; 
}
.parent-box {
    display: flex;
    align-items: flex-stretch;
    height: 200px;
}
.parent-box {
    display: flex;
    align-items: baseline;
    height: 200px;
}



.parent-box > p {
    position:absolute;
    margin-top: -30px;
    left: 25px;
}
.parent-box div:nth-child(2) {
    background-color: aquamarine;
}
.parent-box div:nth-child(3) {
    background-color: antiquewhite;

}
.parent-box div:nth-child(4) {
    background-color: blueviolet;
}
.jc-center .parent-box {
    justify-content: center;
}

.jc-space-between .parent-box {
    justify-content: space-between;
}
.jc-space-around .parent-box {
    justify-content: space-around;
}
.jc-space-evenly .parent-box{
    justify-content: space-evenly;
}
.jc-flex-end .parent-box {
    justify-content: flex-end;
}
.jc-flex-start .parent-box {
    justify-content: flex-start;
} 
